body{

    background-image: conic-gradient(orange,180deg, purple,green,pink);
    background-size: cover; 
   
    background-repeat: no-repeat;
    background-attachment: fixed;
   
   }
   p{
       font-size: 20px;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   h1{
       text-align: center;
   }