table{
    
    border-width: 2px;
    font-size: 16px;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
 }
th,td{
    border-style: solid;
    padding: 5px ;

}
th{
    vertical-align: center;
    height: 50px;
}
h1{
    font-size: 18px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-size: 16px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    font-size: 16px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 16px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}